<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="red-social">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Red Social</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="buscar-cuidadores">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cuidadores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-mascotas">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Mascotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>