<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="close()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-center">Agregar Ruta nueva</ion-title>
        <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form #formulario="ngForm">
        <ion-item>
          <ion-label>Día:</ion-label>
          <ion-select interface="popover" name="day" [(ngModel)]="newWalkpath.schedule.day" required>
            <div *ngFor="let day of days">
              <ion-select-option value={{day}}>{{day}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Localidad:</ion-label>
          <ion-input name="location" type="text" [(ngModel)]="newWalkpath.location" required></ion-input>
        </ion-item>


        <ion-radio-group name="shared" [(ngModel)]="newWalkpath.shared" required>
          <ion-card-header>
            Servicio Compartido
          </ion-card-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="true" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="false" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item>
          <ion-label position="floating">Precio:</ion-label>
          <ion-input name="price" type="number" [(ngModel)]="newWalkpath.price" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Hora de inicio</ion-label>
          <ion-datetime display-format="h A" picker-format="h A" name="startTime" [(ngModel)]="newWalkpath.schedule.startTime"></ion-datetime>
        </ion-item>
        
        <br>
        <ion-button type="submit" expand="full" (click)="dismiss()" [disabled]="formulario.invalid">
          Agregar Ruta <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>