<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="home"></ion-back-button>
        <ion-title class="ion-text-center">Sobre mi</ion-title>
        <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-button (click)="logout()">Cerrar sesión</ion-button>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar class="image-avatar" style="margin: 0 auto;">
        <img center (click)="onClickImage()" src={{data.avatar}}>
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <form #formulario="ngForm">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="name" value={{data.name}} disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" value={{data.email}} disabled [(ngModel)]="data.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
         <ion-datetime  disabled
                        name="birthday"
                        [value]=""
                        displayFormat="DD MMM YYYY"
                        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                        cancelText="Cancelar"
                        doneText="Aceptar"
                        [(ngModel)]="data.birthdate"></ion-datetime>
        </ion-item>

        <ion-item>
         <ion-label position="floating">Tu dirección</ion-label>
          <ion-input name="adress" [(ngModel)]="data.address"></ion-input>
        </ion-item>

       <ion-item>
         <ion-label position="floating">Tu dirección 2</ion-label>
          <ion-input name="address2" [(ngModel)]="data.address2"></ion-input>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
           <ion-input name="phoneNumber" [(ngModel)]="data.phoneNumber"></ion-input>
         </ion-item>

         <ion-item>
          <ion-label position="floating">Teléfono 2</ion-label>
           <ion-input name="phoneNumber2" [(ngModel)]="data.phoneNumber2"></ion-input>
         </ion-item>

        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input name="city" [(ngModel)]="data.address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Codigo Postal</ion-label>
          <ion-input name="postalCode" [(ngModel)]="data.address2"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" expand="full" (click)="onSubmitTemplate()">
          Actualizar <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <div *ngIf="data.petCareData === undefined || data.petCareData?.type === 'Paseador' || data.petCareData?.type === 'Cuidador'">
    <ion-card>
      <ion-card-header>
        <ion-card-title >
          Perfil de Cuidador y Paseador
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        ¡Solicite su permiso para convertirse en paseador o cuidador!
        <ion-button expand="full" (click)="openModalSendRequest()">
          Solicitar <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
    


  <div>
    <div *ngIf="data.petCareData?.walkerData">
      <ion-card>
        <ion-card-header>
          <ion-card-title >
            Perfil de Paseador
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let ruta of rutas">
              <ion-label>
                <h2>Dia: {{ruta.schedule.day}}</h2>
                <h2>Localidad: {{ruta.location}}</h2>
                <h3>Precio: {{ruta.price}}</h3>
                <h3>Servicio compartido: {{ruta.shared | boolToString}}</h3>
                <h3>Inicio: {{ruta.schedule.startTime | date : 'h a'}}</h3>
                <h3>Finalización: {{ruta.schedule.endTime | date : 'h a'}}</h3>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button fill="clear" color="danger" (click)="deleteWalkpath(ruta)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>
          <ion-button expand="full" (click)="openModalAddWalkpath()">
            Agregar Ruta <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="data.petCareData?.careTakerData">
      <ion-card>
        <ion-card-header>
          <ion-card-title >
            Perfil de Cuidador
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form #formCaretaker="ngForm" (ngSubmit)="patchCareTaker()">
            <ion-list>
              <ion-card-header>
                Selecciona tus dias disponibles
              </ion-card-header>
              <ion-item *ngFor="let day of days">
                <ion-label>{{day.day}}</ion-label>
                <ion-checkbox value={{day}} [(ngModel)]="day.selected" name="day"></ion-checkbox>
              </ion-item>
              <br>

              <ion-card-header>
                ¿Puedes cuidar a una mascota por dias continuos?
              </ion-card-header>
              <ion-radio-group name="availability" value={{data.petCareData.careTakerData.availability}} [(ngModel)]="data.petCareData.careTakerData.availability">
                <ion-item>
                  <ion-label>Si</ion-label>
                  <ion-radio slot="start" value="Si"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-radio-group>
              
              <ion-card-header>
                ¿Que tipo de hogar tienes?
              </ion-card-header>
              <ion-radio-group name="home" [(ngModel)]="data.petCareData.careTakerData.home">
                <ion-item *ngFor="let homeType of homeTypes">
                  <ion-label>{{homeType}}</ion-label>
                  <ion-radio name={{homeType}} slot="start" value={{homeType}}></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-list>
                <ion-card-header>
                  ¿Qué tipos de perros puedes cuidar?
                </ion-card-header>
                <ion-item *ngFor="let dogsType of dogsTypes">
                  <ion-label>{{dogsType.dogsType}}</ion-label>
                  <ion-checkbox name="dogsType" [(ngModel)]="dogsType.selected"></ion-checkbox>
                </ion-item>
              </ion-list>
              <br>


            </ion-list>
            <ion-button expand="full" type="submit">
              Guardar Cambios <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>  
