<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="home"></ion-back-button>
        <ion-title class="ion-text-center">Sobre mi</ion-title>
        <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar class="image-avatar" style="margin: 0 auto;">
        <img center src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes.png">
      </ion-avatar>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="name" value="{{data.name}}" disabled [(ngModel)]="data.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" value="{{data.email}}" disabled [(ngModel)]="data.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
         <ion-datetime
                        name="birthday"
                        [value]=""
                        displayFormat="DD MMM YYYY"
                        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                        cancelText="Cancelar"
                        doneText="Aceptar"
                        [(ngModel)]="data.birthday"></ion-datetime>
        </ion-item>

        <ion-item>
         <ion-label position="floating">Tu dirección</ion-label>
          <ion-input name="adress" [(ngModel)]="data.address"></ion-input>
        </ion-item>

       <ion-item>
         <ion-label position="floating">Tu dirección 2</ion-label>
          <ion-input name="address2" [(ngModel)]="data.address2"></ion-input>
       </ion-item>

       <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
           <ion-input name="phoneNumber" [(ngModel)]="data.numberPhone"></ion-input>
         </ion-item>

         <ion-item>
          <ion-label position="floating">Teléfono 2</ion-label>
           <ion-input name="phoneNumber2" [(ngModel)]="data.numberPhone2"></ion-input>
         </ion-item>

        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input name="city" [(ngModel)]="data.city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Codigo Postal</ion-label>
          <ion-input name="postalCode" [(ngModel)]="data.postalCode"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" expand="full" (click)="presentAlertConfirm()">
          Actualizar <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title >
        Perfil de Cuidador y Paseador
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ¡Solicite su permiso para convertirse en paseador!
      <ion-button expand="full" (click)="openModalSendRequest()">
        Solicitar <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>  
