<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="goHome()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-center">Paseadores</ion-title>
        <ion-icon (click)="expandPanel()"style="padding-right: 30px;" name="filter-outline"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<mat-expansion-panel [expanded]="expanded" hideToggle>
  <ion-list>
    <div *ngFor="let filter of filters">
      <div *ngIf="filter.val === 'Location'">
        <ion-item>
          <ion-label>Ubicación</ion-label>
          <ion-checkbox slot="end" (ionChange)="resetFilter(filter.isChecked)" [(ngModel)]="filter.isChecked"></ion-checkbox>
        </ion-item>
 
        <div *ngIf="filter.isChecked">
          <ion-item>
            <ion-label>Región</ion-label>
            <ion-select (ionChange)="setCityValues(selectedDistrict)" [(ngModel)]="selectedDistrict">
              <div *ngFor="let district of districts">
                <ion-select-option [value]="district" >{{district}}</ion-select-option> 
              </div> 
            </ion-select>
          </ion-item>
          <ion-item *ngIf="selectedDistrict">
            <ion-label>Ciudad</ion-label>
            <ion-select  [(ngModel)]="selectedCity" >
              <div *ngFor="let city of cityOptions">
                <ion-select-option [value]="city" >{{city}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </div>   
      </div>
    </div>
  </ion-list>
  <ion-button style="padding-left: 220px" (click)="applyFilters()">Apply</ion-button>
</mat-expansion-panel>

<ion-content>
  <ion-row>
    <ion-col size="8" offset="2" size-lg="8" offset-lg="2" size-md="8" offset-md="2" size-sm="10" offset-sm="1" size-xs="12" offset-xs="0">
      <ion-list>
        <ion-item *ngFor="let user of users ">
          <ion-avatar slot="start">
            <img src={{user.avatar}}>
          </ion-avatar>
          <ion-label>
            <h3>{{user.name}}</h3>
            <div *ngIf="user.petCareData?.type ==='Ambos'; else elseTemplate">
              <h5>Paseador/Cuidador</h5>
            </div>
            <ng-template #elseTemplate>
              <h5>{{user.petCareData?.type}}</h5>
            </ng-template>
            <div *ngFor="let i of getUserStars(user)">
              <ion-icon name="star"></ion-icon>
            </div>
          </ion-label>
          <ion-button color="medium" (click)="goCaretakerInfo(user)">
            Ver perfil
            <ion-icon slot="icon-only" name="navigate"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>