<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon (click)="dismiss()" style="margin-left: 260px;"name="close"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-label>{{ order.createdAt | date: 'shortDate' }}</ion-label>
      <div [ngSwitch]="order.orderStatus">
        <div *ngSwitchCase="statusAccepted" >
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="success"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        <div *ngSwitchCase="statusPending">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="warning"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        <div *ngSwitchCase="statusCancelled">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="danger"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        <div *ngSwitchCase="statusFinished">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="medium"
            >{{order.orderStatus}}
          </ion-button>
        </div>
      </div>
    </ion-item>
  
    <ion-card-content>
      <p>Servicio: {{ order.orderType }}</p>
      <div *ngIf="order.orderType === 'Paseo'">
        <p>Hora inicio: {{ order?.walkPath?.schedule?.startTime | date: 'h a' }} </p>
        <p>Hora de termino: {{ order?.walkPath?.schedule?.endTime | date: 'h a' }}</p>
        <p>Ruta: {{ order?.walkPath?.location }}</p>
      </div>
      <div *ngIf="order.orderType === 'Cuidado'">
        <p>Fecha inicio: {{ order?.dayService?.day | date: 'shortDate' }}</p>
      </div>
      <p >Cuidador/Paseador: <a (click)="goToUser()">{{ careTakerName }}</a></p>
      <p>Mascota: {{ petName }}</p>
      <p>Precio total: {{ order.charge }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>