<ion-header>
    <ion-toolbar>
        <ion-buttons>
          <ion-button (click)="dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-title class="ion-text-center">Agregar Mascota</ion-title>
          <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
        <ion-card-content>
            <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input name="name" [(ngModel)]="newPet.name" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Tipo</ion-label>
                <ion-select name="type" required [(ngModel)]="newPet.type">
                  <ion-select-option value="dog">Perro</ion-select-option>
                  <ion-select-option value="cat">Gato</ion-select-option>
                  <ion-select-option value="hamster">Hamster</ion-select-option>
                  <ion-select-option value="bird">Pájaro</ion-select-option>
                  <ion-select-option value="fish">Pez</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
              <ion-radio-group name="breed" required [(ngModel)]="newPet.breed">
                <ion-card-header>
                  <ion-label>Raza</ion-label>
                </ion-card-header>
                <ion-item>
                  <ion-label>Raza 1</ion-label>
                  <ion-radio name="breed 1" slot="start" value="breed 1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Raza 2</ion-label>
                  <ion-radio name="breed 2" slot="start" value="breed 2"></ion-radio>
                </ion-item>
              </ion-radio-group>
              </ion-item>

              <ion-radio-group name="sex" required [(ngModel)]="newPet.sex">
                <ion-card-header>
                  <ion-label>Sexo</ion-label>
                </ion-card-header>
                <ion-item>
                  <ion-label>Macho</ion-label>
                  <ion-radio name="male" slot="start" value="male"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Hembra</ion-label>
                  <ion-radio name="female" slot="start" value="female"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <br>

              <ion-item>
                <ion-label>Edad Aproximada</ion-label>
                <ion-select name="ageSelector" placeholder="Edad" required [(ngModel)]="newPet.age">
                  <ion-select-option name="option 1" value="1 mes a 3 meses">1 mes a 3 meses</ion-select-option>
                  <ion-select-option name="option 2" value="4 meses a 8 meses">4 meses a 8 meses</ion-select-option>
                  <ion-select-option name="option 3" value="9 meses a 1 año">9 meses a 1 año</ion-select-option>
                  <ion-select-option name="option 4" value="1 año a 3 años">1 año a 3 años</ion-select-option>
                  <ion-select-option name="option 5" value="4 años a 8 años">4 años a 8 años</ion-select-option>
                  <ion-select-option name="option 6" value="8 años a 12 años">8 años a 12 años</ion-select-option>
                  <ion-select-option name="option 7" value="Más de 12 años">Más de 12 años</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Peso Aproximado</ion-label>
                <ion-input placeholder="Peso en Kg" name="weight" value="{{newPet.weight}}" [(ngModel)]="newPet.weight" required></ion-input>
              </ion-item>

              <br>

              <ion-list>
                <ion-list-header>
                  Mi mascota es/está:
                </ion-list-header>
                <ion-item *ngFor="let check of newPet.features">
                  <ion-label>{{check.name}}</ion-label>
                  <ion-checkbox name="feature" [(ngModel)]="check.selected"></ion-checkbox>
                </ion-item>
              </ion-list>

              <ion-radio-group name="medication" required [(ngModel)]="newPet.medication">
                <ion-card-header>
                  <ion-label>Medicación</ion-label>
                </ion-card-header>
                <ion-item>
                  <ion-label>Si</ion-label>
                  <ion-radio name="male" slot="start" value="male"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio name="Raza 2" slot="start" value="Raza 2"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-item>
                <ion-textarea name="medicationDetails" [(ngModel)]="newPet.medicationDetails" rows="6" cols="20" placeholder="Detalle los medicamentos y sus horarios aqui..."></ion-textarea>
              </ion-item>

              <br>
              <ion-button type="submit" expand="full" (click)="presentAlertConfirm(); dismiss()" [disabled]="formulario.invalid">
                Agregar Mascota <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
              </ion-button>
            </form>
          </ion-card-content>
    </ion-card>
  </ion-content>

