<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="home"></ion-back-button>
        <ion-title class="ion-text-center">Mis ordenes</ion-title>
        <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-segment (ionChange)="tabChanged($event)" value="ordenes">
    <ion-segment-button value="ordenes">
      <ion-label>Órdenes</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="user?.careTakerEnabled" value="ordenes_caretaker">
        <ion-label>CareTaker</ion-label>
      </ion-segment-button>
    
  </ion-segment>

</ion-item>
<div *ngFor="let order of selectedOrders">
  <ion-card (click)="onClickOrder(order)">
    <ion-item>
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-label>{{ order.createdAt }}</ion-label>
      <div [ngSwitch]="order.orderStatus">
        <div *ngSwitchCase="statusAccepted">
          <ion-button 
          size="small"
          fill="outline"
          slot="end"
          color="success"
          >{{order.orderStatus}}
        </ion-button>
        </div>
        <div *ngSwitchCase="statusPending">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="warning"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        <div *ngSwitchCase="statusCancelled">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="danger"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        <div *ngSwitchCase="statusFinished">
          <ion-button 
            size="small"
            fill="outline"
            slot="end"
            color="medium"
            >{{order.orderStatus}}
          </ion-button>
        </div>
        

      </div>
      
    </ion-item>
  
    <ion-card-content>
      <p>Tipo de orden: {{ order.orderType }}</p>
     <p>Precio total: {{ order.charge }}</p>
     <div *ngIf="selectedTab === 'ordenes_caretaker'">
        <div *ngIf="order.orderStatus === statusPending">
          <ion-button
            (click)="onAcceptOrder()"
            size="expand">
            Aceptar orden
          </ion-button>
        </div>
        <div *ngIf="order.orderStatus === statusAccepted">
          <ion-button
            (click)="onStartOrderService()"
            size="expand">
            Iniciar cuidado/paseo
          </ion-button>
        </div>
     </div>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>

