<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-back-button defaultHref="buscar-cuidadores"></ion-back-button>
        <ion-title class="ion-text-center"></ion-title>
        <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{caretakerSelected.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h3><b>Dirección:</b> <br>{{caretakerSelected.address}}</h3>
          <br>
          <h3><b>Fecha de Nacimiento:</b> <br>{{caretakerSelected.birthdate | date: 'd/M/yy'}}</h3>
          <br>
          <h3><b>Correo Electrónico:</b> <br>{{caretakerSelected.email}}</h3>
          <br>
          <h3><b>Número de Contacto:</b> <br>{{caretakerSelected.phoneNumber}}</h3>
          <br>
          <h3><b>Valoración:</b></h3>
          <div *ngFor="let i of getUserStars(caretakerSelected)">
            <ion-icon name="star"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      <ion-button expand="full" (click)="openModalCreateOrder(caretakerSelected)">
        Contratar <ion-icon name="checkmark-outline" style="text-align: center"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="this.caretakerSelected.petCareData?.walkerData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Rutas de paseador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item *ngFor="let ruta of rutas">
            <ion-label>
              <h3><b>Lugar:</b> {{ruta?.data?.location}}</h3>
              <h3><b>Precio:</b> {{ruta?.data?.price}}</h3>
              <h3><b>Dia:</b> {{ruta?.data?.schedule?.day}}</h3>
              <h3><b>Hora de inicio:</b> {{ruta?.data?.schedule?.startTime | date : 'h a'}}</h3>
              <h3><b>Hora de finalización:</b> {{ruta?.data?.schedule?.endTime | date : 'h a'}}</h3>
            </ion-label>
          </ion-item>
        </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="this.caretakerSelected.petCareData?.careTakerData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Horarios de cuidado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h3><b>Tipo de residencia:</b> {{this.caretakerSelected.petCareData.careTakerData.home}}</h3>
            <h3><b>Cuidado por mas de un dia:</b> {{this.caretakerSelected.petCareData.careTakerData.availability}}</h3>
            <h3><b>Dias disponibles:</b>
            <div *ngFor="let day of days">
              {{day}}
            </div></h3>
            <h3><b>Tipos de perros para cuidar:</b>
            <div *ngFor="let dogsType of dogsTypes">
              {{dogsType}}
            </div></h3>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
