<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
    <img src="../../../../assets/logo.png" width="70" height="60" slot="end">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="font-size:50px; margin-top:30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  text-align: center;">BIENVENIDO</h1>
  <img style="margin-top: 30px;"src="../../../../assets/logo.png" alt="">
</ion-content>

<app-tabs></app-tabs>
